{% extends "base.html" %}
{% load static %}

{% block title %}<title>MFF Guide</title>{% endblock %}
{% block links %}
<link rel="stylesheet" href="{% static 'home/home_styles.css' %}">
<style>
    .upper-part {
        background-image: url("{% static 'image/Site-community-image.webp' %}");
    }
</style>

<style>

    .icon-chevron-up:before {
        content: "\f077";
    }

    #return-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: rgba(0, 0, 0, 0.7);
        width: 50px;
        height: 50px;
        display: block;
        text-decoration: none;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;

        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    #return-to-top i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        font-size: 19px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    #return-to-top:hover {
        background: rgba(0, 0, 0, 0.9);
    }
    #return-to-top:hover i {
        color: #fff;
        top: 5px;
    }
</style>

<style>

</style>
{% endblock %}


{% block content %}
<section id="slideshow-container">
    <a class="prev" onclick="prevSlides()">&#10094;</a>
    <div class="slides-container">
        <div class="mySlides fade">
            <img class="slideimage" src="{% static 'image/S1.webp' %}">
            <div class="gr"></div>
            <a class="text" href="">NEW UPDATE</a>
        </div>
        <div class="mySlides fade">
            <img class="slideimage" src="{% static 'image/S2.webp' %}">
            <div class="gr"></div>
            <a class="text" href="">NEW TIER-4</a>
        </div>
        <div class="mySlides fade">
            <img class="slideimage" src="{% static 'image/S3.webp' %}">
            <div class="gr"></div>
            <a class="text" href="">NEW UNIFORMS</a>
        </div>
        <div class="mySlides fade">
            <img class="slideimage" src="{% static 'image/S4.webp' %}">
            <div class="gr"></div>
            <a class="text" href="">NEW CHARACTER</a>
        </div>
    </div>
    <a class="next" onclick="nextSlides()">&#10095;</a>

    <div id="dots">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>
</section>

<section id="about">
    <div class="upper-part"></div>
    <div class="middle-part"></div>
    <div class="lower-part">
        <article class="abouts about-us">
            <h3 class="title">MFF Guide</h3>
            <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta doloribus eos molestias voluptatum consequatur ipsum est sit repellendus quo! Nulla nisi doloremque sapiente eius repellendus, magnam deleniti odio accusantium alias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque cum ad, itaque aliquam adipisci tenetur fugiat aut corrupti. Incidunt nemo perspiciatis cumque quaerat eveniet tenetur dolores, rerum ex dolore aut.</p>
            <div class="buttons">
                <a class="read-more-btn" href="#"><button type="button">Read more...</button></a>
            </div>
        </article>

        <article class="abouts about-game">
            <h3 class="title">Marvel Future Fight</h3>
            <p class="description">Players assemble a team of iconic Marvel heroes and villains to engage in thrilling battles. The gameplay revolves around completing missions and quests across various storylines, battling against waves of enemies in real-time combat. Players can control their characters' movements and unleash powerful attacks using touch controls. The game features a diverse roster of over 200 Marvel characters, each with unique abilities and skills that can be upgraded and customized. Additionally, players can join alliances, participate in PvP battles, and compete in special events to earn rewards and strengthen their team.</p>
            <div class="buttons">
                <a class="read-more-btn" href="https://en.wikipedia.org/wiki/Marvel:_Future_Fight" target="_blank"><button type="button">Read more...</button></a>
                <button class="website-btn" type="button"><a href="https://www.marvelfuturefight.com/en" target="_blank">go to website
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="3rem" viewBox="0 0 24 24" fill="none" style="vertical-align: middle;">
                            <g id="Interface / External_Link">
                                <path id="Vector" d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5
                                7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691
                                19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20
                                4H15M20 4L13 11" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>
                    </span>
                </a></button>
            </div>
        </article>

        <article class="abouts about-netmarble">
            <h3 class="title">Netmarble</h3>
            <p class="description">
                Netmarble Corp. is a South Korean mobile game developer. It is South Korea's largest mobile-gaming company which was founded in 2000 by Bang Jun-hyuk. Netmarble developed Lineage 2: Revolution in 2015 and released to the public that same year. As of 2019 L2R became one of the highest-grossing mobiles in the market; exceeding 924 million dollars in 11 months since its release. Currently, Netmarble continues to update and bring new content to L2R. Netmarble produces role-playing mobile games. As of 2015, it had more than 3,000 employees and served over 120 countries worldwide. In May 2017, Bang took the company public, raising $2.4 billion.
                <br>
                Since 2015, the company has licensed Disney-owned properties to produce games such as Marvel: Future Fight (2015), Disney Magical Dice (2016), and Star Wars: Force Arena (2017)
            </p>
            <div class="buttons">
                <a class="read-more-btn" href="https://en.wikipedia.org/wiki/Netmarble" target="_blank"><button type="button">Read more...</button></a>
                <button class="website-btn" type="button"><a href="http://www.netmarble.com/en" target="_blank">go to website
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="3rem" viewBox="0 0 24 24" fill="none" style="vertical-align: middle;">
                            <g id="Interface / External_Link">
                                <path id="Vector" d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5
                                7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691
                                19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20
                                4H15M20 4L13 11" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </svg>
                    </span>
                </a></button>
            </div>
        </article>
    </div>
    <div class="images">
        <div class="image third" id="about-netmarble" onclick="activeImage('about-netmarble')">
            <img src="{% static 'image/netmarble.png' %}" alt="logo">
            <div class="shadow"></div>
        </div>
        <div class="image second" id="about-game" onclick="activeImage('about-game')">
            <img src="{% static 'image/image.jpg' %}" alt="logo">
            <div class="shadow"></div>
        </div>
        <div class="image active-image" id="about-us" onclick="activeImage('about-us')">
            <img src="{% static 'image/logo.png' %}" alt="logo">
            <div class="shadow"></div>
        </div>
    </div>
</section>

<button onclick="topFunction()" id="goTop" title="Go to top">&#10094;</button>
{% endblock %}

{% block script %}
<script>
    // IMAGE SLIDER

    let slideIndex = 1;
    showSlides(slideIndex);

    function nextSlides() {
        showSlides(slideIndex + 1);
    }

    function prevSlides() {
        showSlides(slideIndex - 1);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        slideIndex = (n > slides.length) ? n%slides.length : ((n < 1) ? slides.length : n);

        for (let slide of slides) {
            slide.style.display = "none";
        }
        for (let dot of dots) {
            dot.className = dot.className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }

    setInterval(nextSlides, 5000)
</script>

<script>
    function activeImage (target) {
        const toActivate = document.getElementById(target);
        const images = document.getElementsByClassName('image');
        const abouts = document.getElementsByClassName('abouts');

        for (let i = 0; i < images.length; i++) {
            images[i].className = images[i].className.replace(' active-image', '');
            images[i].style.zIndex = images.length - i;
        }

        if (target == 'about-us') {
            document.getElementById('about-game').style.zIndex = 2;
            document.getElementById('about-netmarble').style.zIndex = 1;
        }

        for (let about of abouts) {
            about.style.display = 'none';

            if (about.classList.contains(target)) {
                about.style.display = 'block';
            }
        }

        toActivate.className += ' active-image';
        toActivate.style.zIndex = 3;
    }
</script>

<script>
    let mybutton = document.getElementById("goTop");
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.bottom = "3rem";
        } else {
            mybutton.style.bottom = "-7rem";
        }
    }

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
{% endblock %}