<link rel="stylesheet" href="../../static/home/modals.css">

<section class="character-modal">
    <section class="modal-header">
        <div class="row">
            <h2 class="name">Name</h2>
            <h3 class="uniform">Uniform</h3>
        </div>
        <button class="close">&times;</button>
    </section>
    <section class="modal-content">
        <div class="tab-titles"></div>
        <div class="tab-content"></div>
    </section>
    <section class="modal-footer">
        <button>Change size</button>
        <button>Close</button>
    </section>
</section>
