{% extends "base.html" %}

{% block title %}<title>C.T.P. Stats</title>{% endblock %}
{% load static %}
{% block links %}<link rel="stylesheet" href="{% static 'ctp/ctp_styles.css' %}">{% endblock %}

{% block content %}
    <h1 id="title">C.T.P. Stats</h1>

    <input id="search-input" autocomplete="off" type="text" aria-label="search-input" placeholder="Enter character's name/uniform here...">

    <div id="pagination"></div>

    <article id="cards"></article>
{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static 'ctp/startPaginateFill.js' %}"></script>
    <script src="{% static 'ctp/form.js' %}"></script>
{% endblock %}
