.card-text-title {
    font-family: "AnjomanCondensedHeavyItalic";
    font-size: 2rem;
    margin: 0;
}

.card-text-text {
    font-family: "AnjomanMediumItalic";
    font-size: 1.5rem;
    color: white;
    margin: 0;
    letter-spacing: 0.5px;
    word-spacing: 2px;
}

.tab-links {
    font-size: 1.5rem !important;
}